.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  table {
    overflow: hidden;
    border-collapse: collapse;
    display: block;
    width: 75rem;
  }


  table, th, td, tr {
      border: 1px solid grey;
      padding: 5px;
  }

  thead, tbody, tfoot {
    display: block;
  }

  thead {
    position: relative;
    overflow: visible;
  }

  tbody {
    overflow-y: scroll;
    overflow-x: scroll;
    height: 40rem; 
  }

  td, th {
    min-width: 20rem;
    height: 2rem;
    overflow: hidden;
    word-wrap: break-word;
    max-width: 20rem;
  }

  tfoot td {
    min-width: 37.5rem;
    max-width: 37.5rem;
  }

  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }

  .pageSelectorContainer {
    display: block;
    width: 100%;
  }

  .pageSelector {
    list-style-type: none;
    display: inline-block;
    padding: 5px;
  }

  .pageSelector:hover {
    background-color: lightgrey;
  }

  .itemAdjustment {
    display: inline-block;
  }
  
  .textfield {
    text-align: center;
  }
}
