<div ng-controller="MainCtrl" class="jumbotron">
  <h1>Capco Coding Eval - Current Page: {{ currentPage + 1 }}</h1>
  <table width="100%" class="table">
    <thead>
      <tr>
        <th ng-repeat="(header, value) in tableData[0]" style="width:10rem">{{ header }}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in pagedItems[currentPage]">
        <td ng-repeat="cell in row">{{ cell }}</td>
      </tr>
    </tbody>
    <tfoot>
        <td colspan="4">
          <form>  
            <p class="itemAdjustment">Adjust Items Per Page: </p>
            <input type="number" ng-model="newItemsPerPage" class="itemAdjustment textfield">
            <button ng-click="adjustItemsPerPage()" class="itemAdjustment">Change</button>
          </form>
        </td>
        <td colspan="4">
            <div class="pageSelectorContainer">
                <ul>
                    <li class="pageSelector">
                        <a href ng-click="prevPage()">« Prev</a>
                    </li>
                
                    <li ng-repeat="n in pageRange(pagedItems.length, currentPage, currentPage + pageSelectorSize)" ng-click="setPage()" class="pageSelector">
                        <a href ng-bind="n + 1">1</a>
                    </li>
                 
                    <li class="pageSelector">
                        <a href ng-click="nextPage()">Next »</a>
                    </li>
                </ul>
            </div>
        </td>
    </tfoot>
  </table>
  <script>
      $(document).ready(function() {
        $('tbody').scroll(function(){
            $('thead').css("left", -$("tbody").scrollLeft());
        });
      });
  </script>
</div>
